@media screen and (min-width: 480px){
    #helloWorld{ 
        #contenedorPresentacion{
            #contenedorHello{
                height: 250px;
            }
        }
    }

    #sobreMi{ 
        #grillaSobreMiFoto{
           padding-left: 4%;
        }
        #textoPresentación{   
            margin-left: 45%;
        }
    }

    #portfolio{
        #grillaPortfolio{
            #ilustracionPortfolio{
                top: -550px;
                left: 275px;  
            }
        }
    }
    
}

@media screen and (min-width: 600px){

    #sobreMi{
        #unGusto{
            #res4{
                display: none;
            }
        }
    }
    
    #portfolio{
        #grillaPortfolio{
            #ilustracionPortfolio{
                top: -410px;
                left: 5px;
            }
            #textosPortfolio{
                #tituloPortfolio{
                    #span2{
                        display:none;
                    }
                }
                #botonPortfolio{
                    margin-left: 3%;
                }
            }
        }
    }

    #curriculumVitae{
        #grillaCV{
            margin-bottom: -170px;
            #ilustracionCV{
                width: 400px;
                height: 305px;
                position: relative;
                bottom: 275px;
                left: 0;
            }
        }
        #puntitos5{
            top: -100px;
        }
    }
 
}

@media screen and (min-width: 700px){

    #sobreMi{
        #unGusto{
            #res4{
                display: none;
            }
        }
    }

    #portfolio{
        #carruselPortfolio{
            #ulSeccionesPortfolio{
                display: flex;
                justify-content: center;
                li{
                    height: 25px;
                    .lineaVerticalAmarilla{
                        display: initial;
                        font-weight: $bold;
                        color: $colorAmarillo;
                        position: relative;
                        z-index: -2;
                    }
                }
            }
        }
    }
}
