@media screen and (max-width: 500px){
    header{
        /* max-width: 500px; */
        #barraNavRedesSociales{
            display: none;
        }
        #checkbox, .hamburguesa, .cruz{
            display: initial;
            width: 20px;
            height: 20px;
        }
        #barraNavSecciones{
/*             position: relative;
            top: 0;
            right: 0; */
            .menu{
                .cruz{
                    display:none;
                }
                #ulHeader{
                    width: 100%;
                    position: absolute;
                    top: 55px;
                    right: -21px;
                    overflow: hidden;
                    background-color: $colorAmarillo;
                    opacity: 0.9;
                    height: 0px;
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;                       
                    li{
                        text-align: center;
                        align-self: center;
                        height: 50px;  
                        padding-top: 20px;
                        .linkInterno{
                            font-size: 20px;
                        }
                        .lineaVerticalAmarilla{
                            display: none;
                        }
                    }
                    li:hover{
                        .linkInterno{
                            color: $colorBlanco;
                        }
                    }
                }

                input[type="checkbox"]:checked ~ #ulHeader {
                    height: 100vh;
                    width: 100vw;
                    margin: auto;
                } 

                input:checked ~ .hamburguesa {
                    display: none;
                }          
                
                input:checked ~ .cruz {
                    display: inherit;
                }   

                /*---------CHECKBOX TRANSPARENTE-----------*/
                input{
                    display: block;
                    width: 45px; 
                    height: 45px;
                    opacity: 0;
                    z-index: 2;
                    position: absolute;
                    top: 5px;
                    right: 0px;           
                }
            }
        }
    }

    //////////////////// HELLO!

    #helloWorld{
        width: 100%;
        #puntitos1{
            position: relative;
            top: 120px;

        }   
        #contenedorPresentacion{
            display: grid;
            grid-template-rows: 1fr 0.2fr;
            grid-template-columns: 1fr;
            #ilustracionHello{
                width: 100vw;
            }
            #contenedorHello{
                margin: 5%;
                display: flex;
                justify-content: flex-start;
                position: relative;
                bottom: 30px;
                h1{
                    font-size: 100px;
                    text-align: center;
                    margin-top: none;
                }
                .resaltadoAmarillo{
                    height: 50px;
                }
                #res1{
                    width: 250px;
                    position: relative;
                    bottom: 140px;
                    left: 80px;
                }
                #res2{
                    width: 300px;
                    position: relative;
                    bottom: 100px;
                    left: 40px;
                }
            }
        }
    }

    //////////////////////// SOBRE MÍ

    #sobreMi{
        padding: 130px 0 0 0;
        #grillaSobreMiFoto{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            h2{
                font-size: 120px;
            }
            #fotoCecilia{
                width: 160px;
                height: 175px;
                justify-self: left;
                margin-left: 5%;
                margin-top: -50px;
            }
        }
        #textoPresentación{
            font-size: 28px;
            line-height: 38px;
            margin-left: 185px;
            margin-top: -390px;
            width: auto;
            strong{
                font-size: 35px;
                line-height: 42px;
            }
        }
        #puntitos2{
            content: url("../images/puntitos-7lineas-celular.svg");
            position: relative;
            top: 0px;
            left: 260px;
        }
        #puntitos3{
            content: url("../images/puntitos-7lineas-celular.svg");
            position: relative;
            top: -300px;
            left: 0px;
        }
        #unGusto{
            h3{
                font-size: 70px;
                line-height: 75px;
            }
            #res3{
                width: 90%;
                position: relative;
                top: -50px;
            }
            #res4{
                display: inherit;
                height: 40px;
                width: 80%;
                background-color: $colorAmarillo;
                position: relative;
                top: -170px;
                left: 10%;
                z-index: -1;
            }
    
        }
        #puntitos4{           
            content: url("../images/puntitos-7lineas-celular.svg");
            position: relative;
            top: -450px;
            left: 260px;
        }
    }

    ////////////////////// CV

    #curriculumVitae{
        #grillaCV{
            #tituloCV{
                font-size: 120px;
                span{
                    display: initial;
                }
            }
            #ilustracionCV{
                width: 400px;
                height: 305px;
                position: relative;
                bottom: 65px;
                left: 0;
            }
        }
        #puntitos5{
            content: url("../images/puntitos-7lineas-celular.svg");
            z-index: -1;
            position: relative;
            top: -550px;
            left: 0px;
        }
        #porqueDD{
            .textosDescriptivos{
                width: 90%;
                text-align: center;

            }
        }
        #misAreasProf{
            #grillaAreas{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 2fr 1fr ;
                #descripcionAreas{
                    z-index: 2;
                    width: 100%;
                    margin-top: 130px;
                    padding-bottom: 50px;
                    height: 470px;
                    .titulosDescripciones{
                        margin: 3%;
                    }
                    .textoDescripciones{
                        margin: 3%;
                        font-size: 16px;
                    }
                }
                #puntitos6{
                    content: url("../images/puntitos-3lineas-celular.svg");
                    position: relative;
                    top: 720px;
                    left: 280px;
                }
            }
        }
        #educacion, #experienciaLaboral, #exposicionesFotograficas, #premios, #jurado, #lenguajes{
            padding-top: 50px;
        }

        #educacion{
            margin-top: 600px;
        }
    }
    
    //---------- CIRCULOS INDIVIDUALES -----------// 

    #ldcv{
        position: relative;
        bottom: -100px;
        left: 50px;
    }

    #dwfs{ 
        position: relative;
        bottom: -150px;
        right: 0;
    }


    #fotografia{
        position: relative;
        bottom: 210px;
        left: 0px;
    }


    #uxui{
        position: relative;
        bottom: 180px;
        left: 10px;
    }


    #tipografia{
        position: relative;
        bottom: 620px;
        left: 180px;
    }


    #semiotica{
        position: relative;
        bottom: 620px;
        left: -155px;
    }


    #docencia{
        position: relative;
        bottom: 385px;
        left: 0;
    }


    #investigacion{
        position: relative;
        bottom: 800px;
        left: 10px;
    }

    #tecnicatura{
        position: relative;
        bottom: 250px;
        left: -110px;
        
    }

    h4{
        font-size: 22px;
    }


    //---------- LISTA CURRICULUM ---------//

    ul.listaCurriculum{
        li.elementoListaCV{
            h5.titulo{
                font-size: 22px;
            }
            .contenedorLugarFecha{
                .lugar{
                    font-size: 17px;
                }
                .fecha{
                    display: none;
                }
            }
            .aclaracion{
                font-size: 17px;
            }
        }
    }

    ul.listaLenguajes{
        grid-template-columns: 1fr 1fr 1fr ;
    }

    
    //////// PORTFOLIO

    #portfolio{
        padding-top: 110px;
        #grillaPortfolio{
            #textosPortfolio{
                #tituloPortfolio{
                    font-size: 115px;
                    #span2{
                        display: initial;
                    }
                }
                .textosDescriptivos{
                    width: 90%;
                    padding-top: 15px;
                }
                #botonPortfolio{
                    margin: 0 25%;
                    margin-bottom: 50px;
                }
            }
            #ilustracionPortfolio{
                width: 230px;
                position: relative;
                top: -580px;
                left: 175px;
                z-index: -1;    
            }
        }
        #puntitos7{
            content: url("../images/puntitos-3lineas-celular.svg");
            position: relative;
            top: -2080px;
            left: 290px;
            
        }
        #carruselPortfolio{
            #ulSeccionesPortfolio{
                display: grid;
                text-align: center;
                width: 100%;
                li{
                    .lineaVerticalAmarilla{
                        display: none;
                    }
                }
            }
        }
        #contenedorCarrusel{
            #irIzquierda{
                display: none;
            }
            #irDerecha{
                display: none;
            }
            #contenedorImagenes{
                overflow: scroll;
            }
        }
    }



    //////////// CONTACTO

    #contacto{
        margin-top: 50px;
        #tituloContacto{
            font-size: 80px;
        }
        #grillaContacto{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            margin: 0;
            #ilustracionContacto{
                padding-top: 75px;
                justify-content: center;
                #dibujoContacto{
                    height: 256px;
                }
            }
            #datosContacto{
                div{
                    h5{
                        font-size: 17px;
                    }
                    p{
                        font-size: 17px;
                    }
                    a{
                        font-size: 17px;
                    }
                }
            }
        }
        #puntitos8{
            content: url("../images/puntitos-9lineas-celular.svg");
            z-index: -50;
            position: relative;
            top: -2050px;
            left: 290px;
        }
    }


    //////// FOOTER

    footer{
        margin-top: 0;
        grid-template-columns: 1fr ;
        #footerRight{
            text-align: center;
            margin: auto;
            width: 60%;
        }
        #footerLeft{
            text-align: center;
            margin: auto;
            width: 50%;
        }
        #lineaVerticalNegra{
            width: 20%;
            height: 1px;

        }
    }




}