#contacto{
    margin-top: 50px;
    #tituloContacto{
        font-size: 80px;
        -webkit-text-stroke: 3px $colorAmarillo;
        text-align: center;
        position: relative;
        top: 70px;
        z-index: -2;
    }
    #grillaContacto{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        margin: 0;
        #ilustracionContacto{
            display: flex;
            padding-top: 75px;
            justify-content: center;
            align-content: center;
            #dibujoContacto{
                height: 256px;
            }
        }
        #datosContacto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            div{
                font-size: 21px;
                line-height: 30px;
                text-align: center;
                margin-bottom: 30px;
                h5{
                    font-size: 17px;
                    font-weight: $bold;
                }
                p{
                    font-size: 17px;
                    font-weight: $light;                    
                }
                a{
                    font-size: 17px;
                    text-decoration: none;
                    color: $colorNegro;
                    font-weight: $light;
                }
            }
        }
    }
    #puntitos8{
        content: url("../images/puntitos-9lineas-celular.svg");
        z-index: -50;
        position: relative;
        top: -1670px;
        left: 290px;
        margin-top: -400px;
    }
}