#curriculumVitae{
    padding-top: 40px;
    #grillaCV{
        padding-top: 20px;
        height: 530px;
        #tituloCV{
            text-align: right;
            font-size: 120px;
            padding-right: 5px;
        }
        #ilustracionCV{
            width: 400px;
            height: 305px;
            position: relative;
            bottom: 65px;
            left: 0;
        }
    }
    #puntitos5{
        content: url("../images/puntitos-7lineas-celular.svg");
        z-index: -1;
        position: relative;
        top: -70px;
        left: 0px;
    }
    #porqueDD{
        #botonCV{
            margin-bottom: 90px;
        }
        .textosDescriptivos{
            width: 90%;
            max-width: 900px;
            text-align: center;
        }
    }
    #misAreasProf{
        height: 1240px;
        padding: 0 3% 0 3%;
        #grillaAreas{
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr ;
            height: 620px;
            #todosCirculos{
                height: 620px;
                margin: auto;
                .circulosIndividuales{
                    background-color: $colorAmarillo;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    float:left;
                    cursor: pointer;
                    .tituloArea{
                        text-align: center;
                        align-self: center;
                        font-weight: bold;
                        span{
                            font-weight: $regular;
                        }
                    }
                }
            }            
            #descripcionAreas{
                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: 2;
                width: 100%;
                padding-bottom: 50px;
                height: 620px;
                .titulosDescripciones{
                    margin: 3%;
                    font-size: 24px;
                    padding-bottom: 0;
                    text-align: left;
                    span{
                        background-color: $colorAmarillo;
                    }
                }
                .textoDescripciones{
                    margin: 3%;
                    font-size: 16px;
                    line-height: 28px;
                }
            }
            #puntitos6{
                content: url("../images/puntitos-3lineas-celular.svg");
                position: relative;
                top: 720px;
                left: 74%;
                z-index: -2;
            }
        }
    }
    #educacion, #experienciaLaboral, #exposicionesFotograficas, #premios, #jurado, #lenguajes{
        padding-top: 50px;
    }
}

a.yellow-link {
    color: $colorNegro;
    position: relative;
    text-decoration-color: $colorAmarillo; 
    text-decoration-thickness: 3px; 
    &::before {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 0;
        height: 15px;
        background-color: $colorAmarillo;
        transition: width 0.3s ease-in-out;
        z-index: -1; 
    }
    &:hover::before {
        width: 100%;
    }
}

//---------- JERARQUÍAS CÍRCULOS -----------// 

.jerarquia1{
    height: 240px;
    width: 240px;
    .tituloArea{
     font-size: 20px;   
    }
}

.jerarquia2{
    height: 150px;
    width: 150px;
    .tituloArea{
     font-size: 16px;   
    }
}

.jerarquia3{
    height: 100px;
    width: 100px;
    .tituloArea{
        font-size: 10px;
    }   
}

h4{
    font-size: 22px;
}

// CIRCULOS INDIVIDUALES 

#ldcv{
    position: relative;
    left: 0px;
    top: 120px;
}

#dwfs{ 
    position: relative;
    left: 70px;
    top: 130px;
}

#fotografia{
    position: relative;
    left: -70px;
    top: -200px;
}

#uxui{
    position: relative;
    left: 100px;
    top: -350px;
}

#tipografia{
    position: relative;
    left: 90px;
    top: -770px;
}

#semiotica{
    position: relative;
    left: -70px;
    top: -880px;
}

#docencia{
    position: relative;
    left: -75px;
    top: -680px;
}

#investigacion{
    position: relative;
    left: -85px;
    top: -1080px;
}

#tecnicatura{
    position: relative;
    left: 15px;
    top: -670px;
}




//---------- LISTA CURRICULUM ---------//

ul.listaCurriculum{
    max-width: 850px;
    margin: auto;
    li.elementoListaCV{
        list-style: url(../images/bullet.svg);
        list-style-position: outside;
        padding: 18px;
        h5.titulo{
            font-size: 22px;
            font-weight: $extrabold;
            padding-bottom: 10px;
            span{
                background-color: $colorAmarillo;
            }
        }
        .contenedorLugarFecha{
            display: grid;
            grid-template-columns: 1fr;
            padding-bottom: 5px;
            .lugar{
                font-size: 17px;
                font-weight: $bold;
                line-height: 1.41;
            }
            .fecha{
                display: none;
            }
        }
        .aclaracion{
            font-size: 17px;
            font-weight: $light;
            line-height: 1.41;
        }
    }
}

ul.listaLenguajes{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    list-style-type:none;
    .elementoLenguaje{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 40px;
        padding-top: 18px;
        z-index: 1;
        img{
            padding-bottom: 20px;
            height: 101px;
        }
        .descripcionIcono{
            font-size: 18.2px;
            font-weight: $light;
            text-align: center;
        }
    }
}

//----- Hover Iconos Lenguajes y Software -------//

#iconoIL:hover{
    content: url(../images/illustrator-amarillo.svg);
} 

#iconoPS:hover{
    content: url(../images/photoshop-amarillo.svg);
} 

#iconoXD:hover{
    content: url(../images/xd-amarillo.svg);
} 

#iconoID:hover{
    content: url(../images/indesign-amarillo.svg);
} 

#iconoAE:hover{
    content: url(../images/after-effects-amarillo.svg);
} 

#iconoZeplin:hover{
    content: url(../images/zeplin-amarillo.svg);
} 

#iconoVSC:hover{
    content: url(../images/vsc-amarillo.svg);
} 

#iconoHTML:hover{
    content: url(../images/html5-amarillo.svg);
} 

#iconoCSS:hover{
    content: url(../images/css3-amarillo.svg);
} 

#iconoJS:hover{
    content: url(../images/javascript-amarillo.svg);
} 

#iconoGit:hover{
    content: url(../images/git-amarillo.svg);
} 

#iconoSass:hover{
    content: url(../images/sass-amarillo.svg);
} 