#curriculumVitae{
    padding-top: 40px;
    #grillaCV{
        padding-top: 20px;
        #tituloCV{
            text-align: right;
            font-size: 208px;
        }
        #ilustracionCV{
            height: 488px;
            position: relative;
            bottom: 320px;
            left: 30px;
        }
    }
    #puntitos5{
        position: absolute;
        top: 2650px;
        right: 0px;
    }
}