#curriculumVitae{
    padding-top: 40px;
    #grillaCV{
        padding-top: 20px;
        height: 730px;
        #tituloCV{
            text-align: right;
            font-size: 228px;  
            span{
                display: none;
            }
        }
        #ilustracionCV{
            height: 488px;
            position: relative;
            bottom: 320px;
            left: 30px;
        }
    }
    #puntitos5{
        float: right;
        position: relative;
        top: -250px;
        margin-bottom: -400px;
    }
    #porqueDD{
        #botonCV{
            margin-bottom: 90px;
        }
    }
    #misAreasProf{
        height: 630px;
        padding: 0 3% 0 3%;
        #grillaAreas{
            display: grid;
            grid-template-columns: 1fr 0.7fr;
            grid-template-rows: 1fr;
            height: 620px;
            #todosCirculos{
                height: 570px;
                .circulosIndividuales{
                    background-color: $colorAmarillo;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    float:left;
                    .tituloArea{
                        text-align: center;
                        align-self: center;
                        font-weight: bold;
                        span{
                            font-weight: $regular;
                        }
                    }
                }
            }
            #descripcionAreas{
                height: 570px;
                width: 85%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .titulosDescripciones{
                    font-size: 24px;
                    padding-bottom: 0;
                    margin-bottom: 20px;
                    text-align: left;
                    span{
                        background-color: $colorAmarillo;
                    }
                }
                .textoDescripciones{
                    font-size: 17px;
                    line-height: 28px;
                }
            }
            #puntitos6{
                position: relative;
                top: -80px;
                right: -140%;
                /* float: right; */
                /* left: 1070px; */
                margin-bottom: -400px;
            }
        }
    }
    #educacion, #experienciaLaboral, #exposicionesFotograficas, #premios, #jurado, #lenguajes{
        padding-top: 120px;
    }
}

// JERARQUÍAS CÍRCULOS 

.jerarquia1{
    height: 240px;
    width: 240px;
    .tituloArea{
     font-size: 20px;   
    }
}

.jerarquia2{
    height: 150px;
    width: 150px;
    .tituloArea{
     font-size: 16px;   
    }
}

.jerarquia3{
    height: 100px;
    width: 100px;
    .tituloArea{
        font-size: 10px;
    }   
}

// CIRCULOS INDIVIDUALES

#ldcv{
    position: relative;
    bottom: -150px;
    left: 150px;
}

#dwfs{ 
    position: relative;
    bottom: -300px;
    left: 160px;
}


#fotografia{
    position: relative;
    bottom: -350px;
    left: -370px;
}


#uxui{
    position: relative;
    bottom: -70px;
    left: -135px
}


#tipografia{
    position: relative;
    bottom: 270px;
    left: 200px;
}


#semiotica{
    position: relative;
    bottom: 180px;
    left: -120px;
}


#docencia{
    position: relative;
    bottom: -140px;
    left: -250px;
}


#investigacion{
    position: relative;
    bottom: 250px;
    left: -290px;
}

#tecnicatura{
    position: relative;
    bottom: 50px;
    left: 50px
    
}

// LISTA CURRICULUM

ul.listaCurriculum{
    max-width: 850px;
    margin: auto;
    li.elementoListaCV{
        list-style: url(../images/bullet.svg);
        list-style-position: outside;
        padding: 18px;
        h5.titulo{
            font-size: 27px;
            font-weight: $extrabold;
            padding-bottom: 10px;
            span{
                background-color: $colorAmarillo;
            }
        }
        .contenedorLugarFecha{
            display: grid;
            grid-template-columns: 4fr 1fr;
            padding-bottom: 5px;
            .lugar{
                font-size: 20.7px;
                font-weight: $bold;
                line-height: 1.41;
            }
            .fecha{
                font-size: 20.7px;
                font-weight: $light;
                text-align: right;
            }
        }
        .aclaracion{
            font-size: 20.7px;
            font-weight: $light;
            line-height: 1.41;
        }
    }
}

ul.listaLenguajes{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type:none;
    .elementoLenguaje{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 40px;
        padding-top: 18px;
        img{
            padding-bottom: 20px;
            height: 101px;
        }
        .descripcionIcono{
            font-size: 18.2px;
            font-weight: $light;
            text-align: center;
        }
    }
}

// HOVER ÍCONOS LENGUAJES Y SOFTWARE

#iconoIL:hover{
    content: url(../images/illustrator-amarillo.svg);
} 

#iconoPS:hover{
    content: url(../images/photoshop-amarillo.svg);
} 

#iconoXD:hover{
    content: url(../images/xd-amarillo.svg);
} 

#iconoID:hover{
    content: url(../images/indesign-amarillo.svg);
} 

#iconoAE:hover{
    content: url(../images/after-effects-amarillo.svg);
} 

#iconoZeplin:hover{
    content: url(../images/zeplin-amarillo.svg);
} 

#iconoVSC:hover{
    content: url(../images/vsc-amarillo.svg);
} 

#iconoHTML:hover{
    content: url(../images/html5-amarillo.svg);
} 

#iconoCSS:hover{
    content: url(../images/css3-amarillo.svg);
} 

#iconoJS:hover{
    content: url(../images/javascript-amarillo.svg);
} 

#iconoGit:hover{
    content: url(../images/git-amarillo.svg);
} 

#iconoSass:hover{
    content: url(../images/sass-amarillo.svg);
} 
