footer{
    margin-top: 0;
    background-color: $colorAmarillo;
    display: grid;
    grid-template-columns: 1fr;
    p{
        font-size: 14px;
        padding: 10px;
        strong{
            font-weight: $semibold;
        }
        a{
            text-decoration: none;
            color: $colorNegro;
        }
        a:hover{
            color: $colorBlanco;
            font-weight: $medium;
        }
    }
    #footerRight{
        text-align: center;
        margin: auto;
        width: 60%;
    }
    #footerLeft{
        text-align: center;
        margin: auto;
        width: 50%;
    }
    #lineaVerticalNegra{
        width: 20%;
        height: 1px;
        background-color: $colorNegro;
        align-self: center;
        justify-self: center;
    }
}