// -------------- COLORES -------------------- // 

$colorAmarillo: #fdce30;
$colorNegro: #181819;
$colorBlanco: #ffffff; 

// ------------ FONT-WEIGHT ------------------ // 

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

// ----------- GENERALES ---------------------//

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $colorBlanco;
    font-family: 'Poppins', sans-serif;
    color: $colorNegro;    
    margin: auto;
}

main{
    max-width: 1400px;
    margin: auto;
}

.titulosSecciones{
    font-weight: $bold;
    font-size: 220px;
    line-height: 0.93;
    -webkit-text-stroke: 4px $colorAmarillo;
    color: $colorBlanco;
}

h4{
    font-size: 33px;
    padding-bottom: 30px;
    text-align: center;
}

.textosDescriptivos{
    width: 900px;
    font-size: 17px;
    line-height: 1.7;
    margin: auto;
    padding-bottom: 30px;
    strong{
        font-weight: $regular;
        background-color: $colorAmarillo;
    }
}

.boton{
    .pBoton{
        font-size: 14px;
        font-weight: $medium;
        align-self: center;
    }
}

.boton:hover{
    background-color: $colorNegro;
    .pBoton{
        color: $colorAmarillo;
    }
}

.boton{
    margin: auto;
    height: 45px;
    width: 200px;
    background-color: $colorAmarillo;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a{
        text-decoration: none;
        text-align: center;
        .pBoton{
            font-size: 14px;
            font-weight: $medium;
            text-align: center;
            color: $colorNegro;
        }
    }
    
}

.boton:hover{
    background-color: $colorNegro;
    a{
        .pBoton{
            color: $colorAmarillo;
        }
    }
}