header{
    background-color: $colorBlanco;
    height: 55px;
    width: 100%;
    position: fixed;
    left:0;
    z-index: 100;
    #barraNavRedesSociales{
        display: none;
    }
    #checkbox, .hamburguesa, .cruz{
        width: 20px;
        height: 20px;
    }
    a{
        text-decoration: none;
        color: $colorNegro;
    }
    #barraNavSecciones{
        position: fixed;
        right: 5%;
        z-index: 100;
        .menu{
            margin-top: 16px;  
            align-items: center;
            .cruz{
                display:none;
            }
            #ulHeader{
                width: 100%;
                position: absolute;
                top: 55px;
                right: -5vw; 
                overflow: hidden;
                background-color: $colorAmarillo;
                opacity: 0.9;
                height: 0px;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;                       
                li{ 
                    text-align: center;
                    align-self: center;
                    height: 50px;  
                    padding-top: 20px;
                    .linkInterno{
                        font-size: 20px;
                        text-transform: uppercase;
                        color: $colorNegro;
                        font-weight: $bold;
                        margin: 15px;
                    }
                    .lineaVerticalAmarilla{
                        display: none;
                    }
                }
                li:hover{
                    .linkInterno{
                        color: $colorBlanco;
                    }
                }
            }

            input[type="checkbox"]:checked ~ #ulHeader {
                height: 100vh;
                width: 100vw;
                margin: auto;
            } 

            input:checked ~ .hamburguesa {
                display: none;
            }          
            
            input:checked ~ .cruz {
                display: inherit;
            }   

            /*---------CHECKBOX TRANSPARENTE-----------*/
            input{
                display: block;
                width: 45px; 
                height: 45px;
                opacity: 0;
                z-index: 2;
                position: absolute;
                top: 5px;
                right: 0px;           
            }
        }
    }
}