#portfolio{
    padding-top: 110px;
    #grillaPortfolio{
        margin-bottom: -450px;
        #textosPortfolio{
            position: relative;
            top: -200px;
            #contenedorImagenPortfolio{
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: relative;
                top: 200px;
                z-index: -1; 
                #ilustracionPortfolio{
                    width: 230px;
                    height: 237px;
                }
            }

            #tituloPortfolio{
                font-size: 115px;
                margin-left: 2%;
                #span2{
                    display: initial;
                }
            }
            .textosDescriptivos{
                margin-left: 3%;
                width: 90%;
                padding-top: 15px;
            }
            #botonPortfolio{
                float: left;
                margin: 0 3%;
                margin-bottom: 50px;
            }
        }
    }
    #puntitos7{
        content: url("../images/puntitos-3lineas-celular.svg");        
        position: relative;
        top: -1600px;
        left: 80%;   
        z-index: -2;
    }
    #carruselPortfolio{
        margin-bottom: -100px;    
        #ulSeccionesPortfolio{
            margin-top: 260px;
            position: relative;
            top: 0;
            display: grid;
            justify-content: center;
            text-align: center;
            width: 100%;
            li{
                a{
                    text-transform: uppercase;
                    font-size: 14px;
                    color: $colorNegro;
                    font-weight: $bold;
                    margin: 15px;
                    text-decoration: none;
                }
                a:hover{
                    background-color: $colorAmarillo;
                }
                list-style-type: none;  
                height: 25px;
                .lineaVerticalAmarilla{
                    display: none;
                }
            }
        }
    }
    #contenedorCarrusel{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;        
        width: 100%;
        position: relative;
        top: -60px;
        #irIzquierda{
            display: none;
        }
        #irDerecha{
            display: none;
        }
        #contenedorImagenes{
            position: relative;
            width: 1130px;
            height: 370px;
            overflow-y: hidden;
            overflow-x: hidden;
            display: inline-flex;
            .imagenesIndividuales{
                padding: 5px 8px;
                display: flex;
                img{
                    height: 360px;
                }
                .pasarMouse{
                    background-color: $colorAmarillo;
                    opacity: 0;
                    position: absolute;
                    height: 360px;
                    width: 360px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .textoDescriptivo{
                        text-align: center;
                        margin: 20px;
                    }
                    a{
                        text-decoration: none;
                        .botonImgPort{
                            background-color: $colorNegro;
                            .pBoton{
                                color: $colorAmarillo;
                            }
                        }
                        .botonImgPort:hover{
                            background-color: $colorBlanco;
                            .pBoton{
                                color: $colorNegro;
                            }
                        }
                    }
                }
                .pasarMouse:hover{
                    opacity: 0.9;
                }
            }
            overflow: scroll;
        }
    }
}