#sobreMi{
    padding: 130px 0 0 0;
    #grillaSobreMiFoto{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        width: fit-content;
        margin: auto;
        h2{
            font-size: 120px;
        }
        #fotoCecilia{
            align-self: center;
            width: 160px;
            height: 175px;
            justify-self: left;
            margin-top: -50px;
        }
    }
    #textoPresentación{
        font-size: 28px;
        line-height: 38px;
        margin-left: 44%;
        margin-top: -390px;
        width: auto;
        font-weight: $semibold;
        strong{
            font-size: 35px;
            line-height: 42px;
            font-weight: $black;
        }
    }
    #puntitos2{
        content: url("../images/puntitos-7lineas-celular.svg");
        position: relative;
        top: 0px;
        float:right;
        z-index: -1;
        margin-top: -100px;
    }
    #puntitos3{
        content: url("../images/puntitos-7lineas-celular.svg");
        position: relative;
        top: -20px;
        left: 0px;
    }
    #unGusto{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            font-size: 70px;
            line-height: 75px;
            font-weight: $bold;
            text-align: center;
        }
        #res3{
            margin-left: auto;
            margin-right: auto;
            background: $colorAmarillo;
            height: 50px;            
            z-index: -1;
            width: 90%;
            position: relative;
            top: -50px;
        }
        #res4{
            display: inherit;
            height: 40px;
            width: 80%;
            background-color: $colorAmarillo;
            position: relative;
            top: -170px;
            left: 10%;
            z-index: -1;
        }
    }
    #puntitos4{           
        content: url("../images/puntitos-7lineas-celular.svg");
        position: relative;
        top: -100px;
        float:right;
        margin-bottom: -100px;
    }
}