@media screen and (max-width: 1024px){

    #curriculumVitae{
        #grillaCV{
            #tituloCV{
                font-size: 160px; 
            }
            #ilustracionCV{
                height: 388px;
                bottom: 250px;
            }
        }
    }

    #ldcv{
        position: absolute;
        left: 180px;
        top: 3700px;
    }
    
    #dwfs{ 
        position: absolute;
        left: 450px;
        top: 3850px;
    }
    
    #fotografia{
        position: absolute;
        left: 140px;
        top: 3890px;
    }
    
    #uxui{
        position: absolute;
        left: 380px;
        top: 3780px;
    }
    
    #tipografia{
        position: absolute;
        left: 220px;
        top: 3580px;
    }
    
    #semiotica{
        position: absolute;
        left: 70px;
        top: 3680px;
    }
    
    #docencia{
        position: absolute;
        left: 80px;
        top: 3980px;
    }
    
    #investigacion{
        position: absolute;
        left: 140px;
        top: 3610px;
    }
    
    #tecnicatura{
        position: absolute; 
        left: 590px;
        top: 3800px; 
    }

    //////// PORTFOLIO

    #portfolio{
        #grillaPortfolio{
            #textosPortfolio{
                #tituloPortfolio{
                    font-size: 165px;
                }
                .textosDescriptivos{
                    width: 48%;
                }
            }
            #ilustracionPortfolio{
                left: 270px;
                left: 30%;
            }
        }
    }


    //////////// CONTACTO

    #contacto{
        #tituloContacto{
            font-size: 145px;
        }
        #grillaContacto{
            padding: 70px 0 0 0;
            #ilustracionContacto{
                #dibujoContacto{
                    height: 350px;
                }
            }
        }
        #puntitos8{
            display: none;
        }
    }
}