@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  color: #181819;
  max-width: 1400px;
  margin: auto;
}

.titulosSecciones {
  font-weight: 700;
  font-size: 220px;
  line-height: 0.93;
  -webkit-text-stroke: 4px #fdce30;
  color: #ffffff;
}

header {
  background-color: #ffffff;
  height: 55px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

header a {
  text-decoration: none;
  color: #181819;
}

header #barraNavSecciones {
  position: fixed;
  right: 5%;
  z-index: 100;
}

header #barraNavSecciones .menu {
  margin-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #barraNavSecciones .menu #ulHeader {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #barraNavSecciones .menu #ulHeader li {
  list-style-type: none;
  height: 25px;
}

header #barraNavSecciones .menu #ulHeader li .linkInterno {
  text-transform: uppercase;
  font-size: 14px;
  color: #181819;
  font-weight: 700;
  margin: 15px;
}

header #barraNavSecciones .menu #ulHeader li .linkInterno:hover {
  background-color: #fdce30;
}

header #barraNavSecciones .menu #ulHeader li .lineaVerticalAmarilla {
  font-weight: 700;
  color: #fdce30;
  position: relative;
  bottom: 22px;
  left: 100%;
  z-index: -2;
}

header #barraNavRedesSociales {
  z-index: 100;
  width: 51px;
  height: 265px;
  background-color: #fdce30;
  position: fixed;
  top: 177.5px;
  right: 0px;
  border-radius: 20px 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #barraNavRedesSociales .linkExterno .imgLinkExterno {
  width: 25px;
  height: 25px;
  margin: 4px 4px 4px 8px;
}

header #barraNavRedesSociales .linkExterno #logoLinkedin:hover {
  content: url(../images/linkedin-blanco.svg);
}

header #barraNavRedesSociales .linkExterno #logoBehance:hover {
  content: url(../images/behance-blanco.svg);
}

header #barraNavRedesSociales .linkExterno #logoGitHub:hover {
  content: url(../images/github-blanco.svg);
}

header #barraNavRedesSociales .linkExterno #logoFlickr:hover {
  content: url(../images/flickr-blanco.svg);
}

header #barraNavRedesSociales .linkExterno #logoInstagram:hover {
  content: url(../images/instagram-blanco.svg);
}

header #barraNavRedesSociales .linkExterno #logoFacebook:hover {
  content: url(../images/facebook-blanco.svg);
}

#helloWorld {
  position: relative;
  top: 10px;
  height: 620px;
}

#helloWorld #puntitos1 {
  width: 360px;
  position: relative;
  top: 50px;
  float: left;
}

#helloWorld #contenedorPresentacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
  bottom: 190px;
  width: 100%;
}

#helloWorld #contenedorPresentacion #ilustracionHello {
  width: 582px;
  -ms-grid-column-align: center;
      justify-self: center;
}

#helloWorld #contenedorPresentacion #contenedorHello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#helloWorld #contenedorPresentacion #contenedorHello h1 {
  font-size: 140px;
  font-weight: 700;
  line-height: 0.91;
}

#helloWorld #contenedorPresentacion #contenedorHello .resaltadoAmarillo {
  height: 74px;
  background-color: #fdce30;
  z-index: -1;
}

#helloWorld #contenedorPresentacion #contenedorHello #res1 {
  width: 390px;
  position: relative;
  bottom: 200px;
  left: 15px;
}

#helloWorld #contenedorPresentacion #contenedorHello #res2 {
  width: 440px;
  position: relative;
  bottom: 150px;
  left: 50px;
}

#sobreMi {
  padding: 80px 0 50px 0;
}

#sobreMi #grillaSobreMiFoto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#sobreMi #grillaSobreMiFoto h2 {
  padding-left: 5%;
}

#sobreMi #grillaSobreMiFoto #fotoCecilia {
  height: 350px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#sobreMi #textoPresentación {
  font-size: 68px;
  line-height: 80px;
  margin-left: 350px;
  margin-top: -310px;
  font-weight: 600;
}

#sobreMi #textoPresentación strong {
  font-weight: 900;
}

#sobreMi #puntitos2 {
  position: absolute;
  top: 560px;
  right: 0;
  z-index: -1;
}

#sobreMi #puntitos3 {
  position: absolute;
  left: -100px;
  top: 1330px;
}

#sobreMi #unGusto {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sobreMi #unGusto h3 {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}

#sobreMi #unGusto #res3 {
  margin-left: auto;
  margin-right: auto;
  background: #fdce30;
  height: 50px;
  width: 900px;
  position: relative;
  top: -65px;
  z-index: -1;
}

#sobreMi #puntitos4 {
  position: absolute;
  top: 1950px;
  right: 0px;
}

#curriculumVitae {
  padding-top: 40px;
}

#curriculumVitae #grillaCV {
  padding-top: 20px;
}

#curriculumVitae #grillaCV #tituloCV {
  text-align: right;
  font-size: 208px;
}

#curriculumVitae #grillaCV #ilustracionCV {
  height: 488px;
  position: relative;
  bottom: 320px;
  left: 30px;
}

#curriculumVitae #puntitos5 {
  position: absolute;
  top: 2650px;
  right: 0px;
}
/*# sourceMappingURL=styles.css.map */